/* ================== RESET BÁSICO ================== */
/* 1. RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    display: block;
    color: #00081b;
    background-color: #c3c3c3;
      padding: 1rem 2rem;
    text-align: center;
}

html, body {
    height: 100%;
    font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #00081b;
    color: #f0f4f9;
}

/* ================== HEADER ================== */
.cabecera {
    padding: 1rem 2rem;
    align-items: center;
    display: flex;
}

.cabecera-titulo {
    display: flex;
    align-items: center;
}

.cabecera-titulo-texto {
     display: flex;
     flex-direction: column;
     text-align: left;
     margin: 1rem;
}

.cabecera-nav {
    display: flex;
    gap: 1.5rem;
    margin-left: auto;
}

.cabecera-nav a {
    color: #00081b;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s;
}

.cabecera-nav a:hover {
    color: #1cc0da;
}

/* ================== BODY ================== */
.cuerpo {
    display: flex;
    height: 500px; /* Temporal, para probar */
}

.columna-izquierda-contenedor,
.columna-derecha-contenedor {
    overflow-y: auto;
    padding: 1rem;
}

.columna-izquierda-contenido {
    flex: 1;
    background: rgba(255,0,0,0.1); /* Rojo translúcido */
}

.columna-derecha-contenido {
    flex: 2;
    background: rgba(0,0,255,0.1); /* Azul translúcido */
}

footer {
    text-align: center;
    align-items: center;
    padding: 1rem 2rem;
    font-size: 0.85rem;
    margin-top: 2rem;

}

footer p{
    color: #00081b;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s;
}
/*

.columns  {
    display: grid;
    grid-template-columns: 3fr 2fr; /* perfil más estrecho que intro 
    gap: 2rem;
    padding-bottom: 2rem;}

.full-width {
    grid-column: span 2; /* ocupa ambas columnas 
    margin-bottom: 2rem;
}

section {
    background-color: #2a1f1f;
    padding: 1.5rem;
    border-radius: 10px;
}

section h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

#perfil {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


#intro {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#intro small {
    font-size: 0.85rem;
    color: #ccc;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}

.card {
    background-color: #3b2b2b;
    padding: 1rem;
    border-radius: 8px;
    flex: 1 1 150px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}



@media (max-width: 900px) {
    main {
        grid-template-columns: 1fr; /* columnas apiladas 
    }

    .title-block {
        flex-direction: column;
        align-items: flex-start;
    }

    .main-nav {
        margin-top: 1rem;
    }
} */
