/Unity_Menteando/Library
/Unity_Menteando/Temp
/Unity_Menteando/obj
/Unity_Menteando/.vs
/Unity_Menteando/UserSettings
/Unity_Menteando/Logs
/unity/Library
/unity/.vs
/unity/Temp
/unity/Logs
/unity/ProjectSettings
/unity/UserSettings/Layouts
